body {
    background-color: green;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 25px;
    text-align: center;
}
#para1 {
    font-family: verdana;
    font-size: 20px;
    text-align: left;
}
