body {
    background-color: lightblue;
}

h1 {
    color: midnight;
    text-align: center;
}

p {
    color: black;
    font-family: verdana;
    font-size: 25px;
    text-align: center;
}
para1 {
    font-family: verdana;
    font-size: 20px;
    text-align: left;
}
